.friend-search, .badge-search {
	margin: 0 1rem;
	width: calc(100% - 12px * 2 - 2px * 2 - 1rem * 2);
}
.friend {
	display: flex;
	margin: 1rem 0;
}
.friend[active="false"] {
	display: none;
}
.friend img {
	background: #d4d4d4;
}
.friend .avatar {
	aspect-ratio: 1/1;
	border-radius: 100%;
	min-height: 10rem;
	min-width: 10rem;
	height: 10rem;
	width: 10rem;
}
.profile-header-main {
	display: flex;
	padding: 1rem 2rem;
	width: calc(100% - 2rem * 2);
}
.profile-header-main img {
	background: #d4d4d4;
}
.profile-header-main .avatar {
	aspect-ratio: 1/1;
	min-height: 10rem;
	min-width: 10rem;
	height: 10rem;
	width: 10rem;
	border-radius: 100%;
}
.profile-header-details {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0 2rem;
}
.profile-header-details span {
	margin: .5rem 0;
}
.user-display-name, .badge-name {
	font-size: 1.25rem;
	font-weight: 500;
}
.user-name, .badge-description {
	color: #d5d7dd;
}

.thumbnail-2d-container.badge-image-container {
	border-radius: 100%;
	height: 150px;
	width: 150px;
}
.badge-stats-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.game-badges-list .badge-row .badge-content {
	float: left;
	width: 70%;
	width: calc(100% - 150px)
}
.game-badges-list .badge-row .badge-data-container {
	width: 100%;
	padding: 0 12px
}
.game-badges-list .badge-row .badge-stats-container {
	float: right;
	width: 100%;
	margin: 6px 0 0;
	padding: 0 12px
}
#badges-filter {
	margin: 1rem .5rem;
	width: calc(100% - .5rem * 2);
}